.padded-section {
  padding: 0 80px;
}
.categories {
  margin-bottom: 180px;
}
.categories .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.categories h2 {
  font-weight: 600;
  font-size: 48px;
}
.categories button {
  padding: 20px 27px;
  background-color: var(--clr-green);
  border: none;
  border-radius: 1rem;
}
.categories .items-container {
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}
.categories .category {
  position: relative;
  border-radius: 30px;
  cursor: pointer;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 202px;
}
.categories .category img {
  width: 100px;
  height: 100px;
}
.categories .gradient-box {
  position: absolute;
  bottom: 0;
  border-radius: 30px;
  width: 180px;
  height: 152px;
  background: linear-gradient(
    180deg,
    rgba(112, 130, 70, 0) 0%,
    rgba(112, 130, 70, 0.1) 100%
  );
  z-index: -1;
}

/* Learn More Section */
.learn-more {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  justify-items: flex-end;
  align-items: center;
  margin-bottom: 160px;
}
.learn-more h3 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}
.learn-more p {
  color: var(--clr-ash);
  margin-bottom: 70px;
}
.learn-more button {
  padding: 21px 52px;
  color: white;
  background-color: black;
  border-radius: 16px;
}
.learn-more > img {
  width: 720px;
}
.learn-more > div {
  max-width: 546px;
}
