.instagram-section {
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.post {
  display: grid;
  grid-template-rows: 42px 290px 114px;
  background-color: white;
  width: 290px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.top > div {
  display: flex;
  align-items: center;
}
.top .box > img {
  width: 25px;
  height: 25px;
  margin-right: 7.8px;
}
.titleContainer p {
  font-weight: 400;
  font-size: 8.5px;
}
.titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.7px;
}
.titleBar h4 {
  font-weight: 600;
  font-size: 10.5px;
  color: hsla(0, 0%, 15%, 1);
}

.post .mid {
  position: relative;
}
.post .mid span {
  position: absolute;
  color: white;
  top: 11px;
  right: 11px;
  border-radius: 38%;
  padding: 4.6px 6.5px;
  font-weight: 400;
  font-size: 9.3px;
  background-color: hsla(0, 0%, 7%, 0.7);
}

.bottom .first {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bottom .first > div {
  display: flex;
  gap: 12px;
}
.rotate {
  transform: rotate(270deg);
}
.bottom .first > p {
  position: absolute;
  right: 42%;
  display: flex;
  gap: 3px;
}
.bottom .first > p span {
  width: 4.7px;
  height: 4.7px;
  background: hsla(0, 0%, 0%, 0.15);
  border-radius: 8px;
}
.bottom .first > p span:first-child {
  background: hsla(209, 86%, 58%, 1);
}

.bottom .second {
  display: flex;
  padding: 0 11.6px;
  align-items: center;
  font-weight: 400;
  font-size: 10.1px;
  color: hsla(0, 0%, 15%, 1);
}
.bottom .second > img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.bottom .bold {
  font-weight: 600;
}

.bottom .label {
  margin-top: 4px;
  padding: 0 11.6px;
  font-size: 10.1px;
  font-weight: 400;
}
.bottom .date {
  margin-top: 10px;
  padding: 0 11.6px;
  font-size: 8.51px;
  color: hsla(0, 0%, 0%, 0.4);
}
.instagram-section .visitBtn {
  margin: 80px auto;
  padding: 19px 32px;
  display: flex;
  align-items: center;
  gap: 17px;
  color: white;
  background-color: black;
  border-radius: 16px;
  cursor: pointer;
}
