.recipe-section {
  padding: 160px 0;
}
.recipe-section .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.recipe-section h3 {
  line-height: 58px;
  font-weight: 600;
  font-size: 48px;
}
.recipe-section .heading p {
  color: var(--clr-ash);
  max-width: 600px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  justify-content: space-between;
  justify-items: center;
}
.product {
  display: grid;
  position: relative;
  grid-template-rows: 0.6fr 0.3fr;
  cursor: pointer;
  gap: 16px;
  max-height: 434px;
  border-radius: 30px;
  width: 290px;
}
.product > img {
  height: 200px;
  border-radius: 20px;
}
.product > p {
  font-size: 18px;
  font-weight: 600;
}
.product .category {
  display: flex;
  gap: 24px;
}
.product .category > * {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-ash);
  font-size: 14px;
  font-weight: 500;
}
.product .favorite {
  color: var(--clr-fav-ash);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  right: 16px;
  top: 16px;
}
.product .favorite:hover svg {
  fill: var(--clr-favs);
}
