@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lobster&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-lobster: "Lobster", sans-serif;

  --clr-orange: #ff7426;
  --clr-black: hsla(0, 0%, 0%, 1);
}
